import { Command } from '../types';

const command: Command = {
  name: 'greet',
  cooldown: 10,
  aliases: ['sayhello'],
  permissions: [],
  execute: async message => {
    let toGreet = message.mentions.members?.first();

    await message.channel.send(`Hello there ${ toGreet ? toGreet.user.username : message.member?.user.username }!`);
  }
};
